/* Custom slider styles */
.slick-slide > div {
  margin: 0;
}

.slick-list {
  margin: 0 -11px;
}

.slick-slide {
  padding: 0;
}

.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
}
